body {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  font-family: sans-serif;
  text-align: center;
}
p {
  font-family: sans-serif;
  text-align: center;
}
.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
